*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body, 
input,
textarea{
    font-family: "poppins", sans-serif;
}
.container{
    position: relative;
    width:100%;
    min-height: 100vh;
    padding:2rem;
    background-color: hsl(0, 13%, 95%);
    overflow:hidden;
    display: flex;
    align-items: center;
    justify-content: center;

}
.form{
    width:100%;
    max-width: 820px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
    box-shadow: 0 0 20px 1px rgba(0,0,0,0.1);
    z-index: 1000;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}
.contactForm{
    background-color: hsl(168, 76%, 42%);
    position: relative;
}
.circle{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: linear-gradient(135deg, transparent 20%, hsl(168, 78%, 35%));
    position:absolute;
}
.circle.one{
    width: 130px;
    height: 130px;
    top: 130px;
    right: -40px;
}
.circle.two{
    width: 80px;
    height: 80px;
    top: 10px;
    right: 3px;
}
.contactForm::before{
    content: "";
    position: absolute;
    width: 26px;
    height: 26px;
    background-color:hsl(168, 76%, 42%);
    transform: rotate(45deg);
    top: 26px;
    left: -13px;
}
form{
    padding: 2.3rem 2.2rem;
    z-index:10;
    overflow: hidden;
    position: relative;
}
.title{
    color: hsl(60, 100%, 99%);
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom:0.7rem
}
.inputContainer{
    position: relative;
    margin:1rem 0;

}

.input{
    width: 100%;
    outline:none;
    border: 2px solid #fafafa;
    background: none;
    padding: 0.6rem 1.2rem;
    color: #fff;
    font-weight: 500;
    font-size: 0.95rem;
    letter-spacing: 0.5px;
    border-radius: 25px;
    transition: 0.3s;
}
textarea.input{
    padding:0.8rem 1.2rem;
    min-height: 150px;
    border-radius: 22px;
    resize: none;
    overflow-y:auto;
}
.inputContainer label{
    position: absolute;
    top: 50%;
    left:15px;
    transform: translateY(-50%);
    padding:0 0.4rem;
    color: #fafafa;
    font-size: 0.9rem;
    font-weight: 400;
    pointer-events: none;
    z-index: 1000;
    transition: 0.5s;
}
.inputContainer.textarea label{
    top: 1rem;
    transform: translateY(0);
}

.btn{
    padding:0.6rem 1.3rem;
    background-color: #fff;
    border:2px solid #fafafa;
    font-size: 0.95rem;
    color: #1abc9c;
    line-height: 1;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}
.btn:hover{
    background-color: transparent;
}
.btn:active{
    background-color: hsl(0, 0%, 85%);
}
.inputContainer span{
    position:absolute;
    top: 0;
    left: 25px;
    transform: translateY(-50%);
    font-size: 0.8rem;
    padding: 0 0.4rem;
    color: transparent;
    pointer-events: none;
    z-index: 500;
}
.inputContainer span::before,
.inputContainer span::after{
    content: "";
    position:absolute;
    width: 10%;
    opacity: 0;
    height: 5px;
    transition: 0.3s;
    background-color: #1abc9c;
    top: 50%;
    transform: translateY(-50%);

}
.inputContainer span::before{
    left: 50%;

}
.inputContainer span::after{
   right: 50%;    
}
.inputContainer.focus label{
    top: 0;
    transform: translateY(-50%);
    left: 25px;
    font-size: 0.8rem;

}
.inputContainer.focus span::before,
.inputContainer.focus span::after{
    width: 50%;
    opacity: 1;
}

.icon{
    width: 28px;
    margin-right: 0.7rem;
}
.contactInfo{
    padding: 2.3rem 2.2rem;
    position:relative;
}
.contactInfo .title{
    color: #1abc9c; 
}
.text{
    color: #333;
    margin: 1.5rem 0 2rem 0;
}
.information{
    display: flex;
    color: #555;
    margin:0.7rem 0;
    align-items: center;
    font-size: 0.95rem;
}
.social-media{
    padding: 2rem 0 0 0 ;

}
.social-media p{
    color: #333;
}
.social-icon{
    display: flex;
    margin-top: 0.5rem;

}
.social-icon a{
    width:35px;
    height: 35px;
    border-radius: 5px;
    color: #1cd4af;
    background: linear-gradient(45deg, #1abc9c, #149279);
    text-align: center;
    line-height: 35px;
    margin-right: 0.5rem;
    transition: .5s;
}
.social-icon a:hover{
    transform: scale(1.15);
}
.contactInfo:before{
    content: "";
    position:absolute;
    width: 110px;
    height: 100px;
    border: 22px solid #1abc9c;
    border-radius: 50%;
    bottom: -77px;
    right: 50px;
    opacity: 0.3;
}
.big-circle{
    position:absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: linear-gradient(to bottom, #1cd4af, #159b80);
    bottom: 50%;
    right: 50%;
    transform: translate(-40%,38%);

}
.big-circle::after{
    content: "";
    position:absolute;
    width: 360px;
    height: 360px;
    background-color: #fafafa;
    border-radius: 50%;
    top: calc(50% -180px);
    left: calc(50% -180px);
}
.square{
    position:absolute;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(181%, 11%);
    opacity: 0.2;

}

.map-container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
h3{
    color: #333;
    bottom: 60px;

}
iframe{
    width: 82%;
    height: 500px;
}

@media (max-width:850px){
    .form{
     grid-template-columns: 1fr;   
    }
    .contactInfo:before{
        bottom: initial;
        top: -75px;
        right: 65px;
        transform: scale(0.95); 
    }


    .contactForm:before{
        top: -13px;
        left: initial;
        right: 70px;

    }
    .square{
        transform: translate(140%, 43%);
        height: 350px; 
    }
    .big-circle{
        bottom: 75%;
        transform: scale(0.9) translate(-40%, 30%);
        right: 50%;
    }
    .text{
        margin: 1rem 0 1.5rem 0;
    }
    .social-media{
        padding: 1.5rem 0 0 0;
    }
}

@media (max-width:480px){
    .container{
        padding: 1.5rem;
    }
    .contactInfo:before{
        display: none;

    }
    .square,
    .big-circle{
        display: none;
        
    }
    form,
    .contactInfo{
        padding: 1.7rem 1.6rem;
    }
    .text,
    .information,
    .social-media p{
        font-size: 0.8rem;
    }
    .title{
        font-size: 1.15rem;
    }
    .social-icon a{
        width: 30px;
        height: 30px;
        line-height: 30px;
    }
    .icon{
        width: 23px;
    }
    .input{
        padding:0.45rem 1.2rem;
    }
    .btn{
        padding:0.45rem 1.3rem;
    }
}
